<div id="backgroundCarousel" class="carousel container slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item one"></div>
        <div class="item two"></div>
        <div class="item three"></div>
    </div>
</div>