<div id="MainModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="MainModalLabel" aria-hidden="true">
    <div id="MainModalHeader" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h2 style="text-align:center;"><span class="MainModalLabel">MainModalLabel</span></h2>
    </div>
    <div id="MainModalBody" class="modal-body">
        <div id="circleG">
            <div id="circleG_1" class="circleG"></div>
            <div id="circleG_2" class="circleG"></div>
            <div id="circleG_3" class="circleG"></div>
        </div>
        <div id="MainModalContent">MainModalContent</div>
    </div>
    <div id="MainModalFooter" class="modal-body"></div>
</div>