            <div id="indexLogotypeContainer" class="pull-left">
                <h1>FixingIT</h1>
            </div>
            <div id="indexInformationContainer" class="pull-right">
                <p>
                    Stellan FixingIT<br />
                    <a href="mailto:info@fixingit.se" class="">info @@ fixingit.se</a>
                </p>
            </div>