        <div class="container">
            <div id="indexLogotypeContainer" class="pull-left">
                <h1>FixingIT</h1>
            </div>
            <div id="indexInformationContainer">
                <p>
                    Stellan FixingIT<br />
                    <a href="mailto:info@fixingit.se" class="btn btn-link">info @@ fixingit.se</a>
                </p>
            </div>
        </div>