@{
    Layout = "";
    ViewBag.Title = "Er enda IT-kontakt";
}

<!DOCTYPE html>
<html lang="sv">
    @Html.Partial("_HtmlHead", new { ViewBag.Title })
    <body>
        @Html.Partial("_FirstPage")
    </body>
    @Html.Partial("_ScriptsBottom")
</html>
