@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="sv">
    @Html.Partial("_HtmlHead", new { ViewBag.Title })
    <body id="index">
        <div class="container">
            @Html.Partial("_FirstPage")
        </div>
    </body>
    @Html.Partial("_ScriptsBottom")
</html>
